@font-face {
    font-family: NetflixSansBold;
    src: url('/assets/fonts/NetflixSans-Bold.otf');
  }
  @font-face {
    font-family: NetflixSansRegular;
    src: url('/assets/fonts/NetflixSans-Regular.otf');
  }
  
  @font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  }
body{
    background-color: black;
    color: white;
    width: 99vw;
    height: 99vh;
    background-image: url('/assets/image/PDL.jpg');
    background-repeat: no-repeat;
    overflow-x: hidden;
    overflow-y: hidden;
    background-size: cover;
    margin: 0%;
}
    


.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-size: medium;
    width: 100vw;
    height: 100vh;
    display: flex;
}


.erreur {
  color: #fff;
  font-size: 3em;
  height: 100px;
}

.text {
  font-size: 2em;
}

.bouton-btn {
  color: #fff;
  font-size: 2em;

}

.Code {
    
}

