@font-face {
    font-family: NetflixSansBold;
    src: url('/assets/fonts/NetflixSans-Bold.otf');
  }
  @font-face {
    font-family: NetflixSansRegular;
    src: url('/assets/fonts/NetflixSans-Regular.otf');
  }
  
  @font-face {
    font-family: Montserrat;
    src: url('/assets/fonts/Montserrat-SemiBold.ttf');
  }
body{
    background-color: black;
    color: white;
    
}


.container {
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;

}

.erreur {
  color: #fff;
  text-shadow:
    0 0 7px #fff
    0 0 10px #fff
    0 0 21px #fff
    0 0 42px #1cbaea
    0 0 82px #1cbaea
    0 0 92px #a51cea
    0 0 102PX #a51cea
    0 0 151PX #a51cea
}