@font-face {
  font-family: NetflixSansBold;
  src: url('/assets/fonts/NetflixSans-Bold.otf');
}
@font-face {
  font-family: NetflixSansRegular;
  src: url('/assets/fonts/NetflixSans-Regular.otf');
}

@font-face {
  font-family: Montserrat;
  src: url('/assets/fonts/Montserrat-SemiBold.ttf');
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;
}



body{
background-color: rgba(3, 3, 3, 0.929);
position: relative;
display: flex;
 flex-direction: column;
}

/* CONTENU DE L'EN-TETE FIXE */
header{
z-index: 1;
padding: 0 20px;
font-family:Montserrat;
position: fixed;
display: flex;
width: 100%;
height: auto; 
flex-direction: column;
margin-bottom: 50px;
background-color: #060505;
}
#HEAD{
  flex: 1;
 margin-top: 8%;

}

.SYNOPSIS{
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: groove 2px;

}
.SYNOPSIS span{
padding: 0 10px;
border-right: 2px solid rgb(0, 0, 0);
}
.SYNOPSIS span:last-child{
border-right:none;
}
#SynopsisImage img{
width: 120px;
height: 80px;
}

.Start{
display: flex;
justify-content: center;
align-items: center;
height: auto;
padding:5px 10px;
border: 5px;
background-color: rgba(245, 244, 244, 0.774);
box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
border-radius: 50px;
}
.Start img{
border-radius: 50%;
width: 25px;
height: 25px;
}

#infosProfil{
display: flex;
align-items: center;
flex-direction: column;
width: auto;
height: auto;
padding: 10px 8px;
justify-content: space-between;
border-style: groove;
border-radius: 20% 57% 4px;
background-color: rgba(255, 255, 255, 0.774);
}
#LoginProfil{
border-radius: 50%;
width: auto;
}
#LoginProfil img{
border-radius: 50%;
width: 40px;
height: 40px;
}
.text{
  font-family: NetflixSansBold ;
  margin: 5px 0;
  display: flex;
  padding: 0 5px;
  align-items: center;
  text-align: center;
}
a{
text-decoration: none;
color: black;
}

/*AFFICHAGE DES FILMS*/
.SomeFilms{
  color:  white;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0 10px;
  padding: 20px 0;
}

.Film{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  padding: 15px;
  margin-right: 15px;
  width: 402px;
  height: 130vh;
  border-radius: 15px;
  background-color:#e2281aae;
  margin-right: 20px;
  margin-bottom: 20px;
}


.commentaires > form {
  display: flex;
  justify-content: center;
}

.commentaires > form > input[type="text"]{
  padding: 5px 10px;
  width: 60vw;
  height: 10vh;
  border-radius: 9999px;
  font-size: 20px;
  margin-right: 8px;
}

.SEARCH > form > input[type="submit"]{
  padding: 5px;
  height: 10vh;
  width: 10vw;
  border-radius: 9999px;
}
.SEARCH > form > input[type="submit"]:hover{
background-color: rgba(190, 56, 56, 0.708);
font-family:Montserrat
}


/* LE BOUTON FIXE AFFICHE TOUT EN BAS DE LA PAGE */
#Bottom{
  background-color: rgb(210, 210, 210);
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: groove;
  border-radius: 50px;
  width: 200px;
  height: auto;
  margin-bottom: 20px;
  padding: 2px 5px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#Bottom img{
width: 30px;
height: 30px;
}

