*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Montserrat;
  }
  
  
  
  body{
  background-color: rgba(3, 3, 3, 0.929);
  position: relative;
  display: flex;
   flex-direction: column;
  }
  
  /* CONTENU DE L'EN-TETE FIXE */
  header{
  z-index: 1;
  padding: 0 20px;
  font-family:Montserrat;
  position: fixed;
  display: flex;
  width: 100%;
  height: auto; 
  flex-direction: column;
  margin-bottom: 50px;
  background-color: #060505;
  }
  #HEAD{
    flex: 1;
   margin-top: 8%;
  
  }
  
  .SYNOPSIS{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: groove 2px;
  
  }
  .SYNOPSIS span{
  padding: 0 10px;
  border-right: 2px solid rgb(0, 0, 0);
  }
  .SYNOPSIS span:last-child{
  border-right:none;
  }
  #SynopsisImage img{
  width: 120px;
  height: 80px;
  }
  
  .Start{
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  padding:5px 10px;
  border: 5px;
  background-color: rgba(245, 244, 244, 0.774);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  }
  .Start img{
  border-radius: 50%;
  width: 25px;
  height: 25px;
  }
  
  #infosProfil{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  height: auto;
  padding: 10px 8px;
  justify-content: space-between;
  border-style: groove;
  border-radius: 20% 57% 4px;
  background-color: rgba(255, 255, 255, 0.774);
  }
  #LoginProfil{
  border-radius: 50%;
  width: auto;
  }
  #LoginProfil img{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  }
  .text{
    font-family: NetflixSansBold ;
    margin: 5px 0;
    display: flex;
    padding: 0 5px;
    align-items: center;
    text-align: center;
  }
  a{
  text-decoration: none;
  color: black;
  }

    /*-------------Body page-------------*/

    
.Comment{
    width: auto;
    display: flex;
    flex-direction: column;
    border: 3px;
    border-style: inset;
    border-color: black;
    margin-right: 10px;
    margin-top: 2%;
    margin-left: 2%;
    background-color: #332C2C;
    font-size: 18px;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 20%;
    padding: 10px;
}

#AllComments{
    background-color: hsl(0, 19%, 6%);
    margin-left: 2%;
    margin-top: 10%;
    margin-right: 2%;
    margin-bottom: 2%;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    border: 2.5px solid #fff;
    border-radius: 12px;
    box-shadow:
    0 0 8px #fff,
    inset 0 0 8px #fff,
    0 0 16px #c70f25,
    inset 0 0 16px #c70f25,
    0 0 32px #AE0001,
    inset 0 0 32px #AE0001;
    animation: flash 1.9s infinite alternate;
}
a{
    text-decoration: none;
    color: black;
    }
    
 .Affiche{
    padding-left: 2%;
    padding-top: 2%;
    
 }

p {
    color: #fff;
    padding-left: 1%;
}

h1 {
    color: #fff;
    animation: flashing 1.4s infinite alternate;
}

@keyframes flashing {
    0%, 18%, 21%, 32%, 35%, 39%, 42%, 100% {
    text-shadow:
        0 0 8px #ffd6d6,
        0 0 8px #ffd6d6,
        0 0 32px #FEA801,
        0 0 64px #FEA801,
        0 0 90px #DB01FE,
        0 0 124px #DB01FE;

    
    }
    20%, 34%, 41% {
        text-shadow: none;
        box-shadow: none;
    }
}

@keyframes flash {
    0%, 18%, 21%, 32%, 35%, 39%, 42%, 100% {
        box-shadow:
        0 0 8px #fff,
        inset 0 0 8px #fff,
        0 0 16px #c70f25,
        inset 0 0 16px #c70f25,
        0 0 32px #AE0001,
        inset 0 0 32px #AE0001;
    }
    20%, 34%, 41% {
        box-shadow: none;
    }
}