*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LES COULEURS APPORTEES AU DIV SONT 
JUSTE POUR POUVOIR LES DIFFERENCIER FACILEMENT */

body{
font-family: Georgia, 'Times New Roman', Times, serif;
position: relative;
display: flex;
 flex-direction: column;
}

/* CONTENU DE L'EN-TETE FIXE */
#HEAD{
z-index: 1;
padding: 0 20px;
position: fixed;
display: flex;
width: 100%;
height: auto;
background-color: rgb(255,255,255);
flex-direction: column;
}
.SYNOPSIS{
width: 100%;
height: auto;
display: flex;
align-items: center;
justify-content: space-between;
border-bottom: groove 2px;

}
.SYNOPSIS span{
padding: 0 10px;
border-right: 2px solid rgb(0, 0, 0);
}
.SYNOPSIS span:last-child{
border-right:none;
}
#SynopsisImage img{
width: 120px;
height: 80px;
}

.Start{
display: flex;
justify-content: center;
align-items: center;
height: auto;
padding:5px;
border: 3px;
border-color: blue;
box-shadow: 0 3px 10px rgba(0,0,0,0.1);
border-radius: 50px;
}
.Start img{
border-radius: 50%;
width: 30px;
height: 30px;
}

/* ESPACE PROFIL UTILISATEUR */
#infosProfil{
display: flex;

align-items: center;
width: auto;
height: auto;
padding: 5px;
justify-content: space-between;
border-style: groove;
}
#LoginProfil{
border-radius: 50%;
width: auto;
}
#LoginProfil img{
border-radius: 50%;
width: 40px;
height: 40px;
}



/* ICONES CARACTERISTIQUES DE DIFFERENTS LIEUX */
.Icons{
width: 100%;
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
margin-top: 10px;
padding-bottom: 5px;
}
.Icons img{
width: 100px;
height: 100px;
}
.DecoIcon{
gap: 5px;
font-size: 10px;
display:flex;
align-items: center;
flex-direction: column;
}
a{
text-decoration: none;
color: black;
}

