{{define "404"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/404.css">
    <title>Vous chercher votre chemin ?</title>

</head>
<body>
    <div class="container">
    <a>
        <h2 class="erreur">Vous chercher votre chemin ?</h2>
        <h3 class="text">Désolés, nous n'avons pas trouvé cette page. Un vaste choix de programmes vous attend sur la page d'accueil.</h3>
        <a href="connexion.html" class="bouton-btn">Acceuil</a>
        <h4 class="Code">Code d'erreur : NSES-404</h4>
    </a>
    </div>

</body>
</html>
{{end}}