{{define "comments"}}

<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/assets/image/cinema-logo.jpg">
    <link rel="stylesheet" type="text/css" href="/assets/styles/comments.css" >
	<title>#Threads</title>
</head>
<body >
    <header>
		<div class="SYNOPSIS"> 
			<div id="SynopsisImage">
			 <a href="/home"> <img src="../assets/icons/iconeNetflix.png" alt="logo-airbnb-1536"> </a>
		</div>
			<div class="Start">
			   <a href="/search">
	   <span>Ici,Les</span>
	   <span>Meilleurs</span>
	   <span>Films</span>
	   <img src="../assets/icons/glass_lens_loupe_love_magnifying_search_zoom_icon_146722.png" alt="loupe">
   </a>        
   </div>
			 <a href="/connexion">
			<div id="infosProfil">
			   <div id="imageProfil">
				   <img src="/assets/icons/icon-profile-1.jpg" alt="Profil_Icon" width="50px" height="50px">
				</div>
			 <p>QUITTER</p>
		   </div>
			</a>
		</header>
        
    <div class="Start">
    <h1>Commentaires</h1>
    <h2>amusez_vous</h2>
</div>
    <div id="AllComments">
          {{range .}}
       <div id="Comment">
         <p><strong>Avis:</strong> {{.Commentaire}}</p>
         <p><strong>Email:</strong> {{.Email}}</p>
         <p><strong>Nom du film: </strong>{{.NomFilm}}</p>   
        </div>
        {{end}}
    </div>
</body>
</html>  
{{end}}