{{define "connexion"}}
<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/connexion.css" >
	<title>CONNEXION</title>
</head>
<body >
	<div id="LoginScreen">
	<h1>CONNEXION</h1>
	<form method="POST" action="/treatment">

        <label for="email">Enter your Email: </label>
        <input type="email" id="email" name="email" required>
       
        <label for="password">Enter your password:</label>
        <input type="password" id="password" name="password" required>
    </form>

<div id="Direction">
		<input type="submit" value="connexion">
	</form>
 <a href="/inscription"> <button class="button">Pas encore des notre? Inscrivez-vous</a></button>
</div>
</div>
</body>
</html>
{{end}}