{{define "connexion"}}
<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/CSS/images/pendu/hangman9.png" >

    <link rel="stylesheet" type="text/css" href="/CSS/home.css" >
	<title>Welcome to Hangman Game</title>
</head>
<body >
	<div id="HomeScreen">
	<h1>connexion</h1>
	<form method="POST" action="/treatment">
		<label for="name">Enter your name:</label>
		<input type="text" name="name" id="name" required oninvalid="this.setCustomValidity('Entrer votre nom pour Jouer')"
		oninput="this.setCustomValidity('')">

        <label for="email">Enter your Email: </label>
        <input type="email" id="email" name="email" required>
       
        <label for="password">Enter your password:</label>
        <input type="password" id="password" name="password">
    </form>

<div id="Direction">
		<input type="submit" value="connexion">
	</form>
 <a href="/"> <button class="button">Pas encore des notre? Inscrivez-vous</a></button>
</div>
</div>
</div>
</body>
</html>
{{end}}