{{define "home"}}
<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="icon" type="image/x-icon" href="/assets/image/background_netflix.png">
    <link rel="stylesheet" type="text/css" href="/assets/styles/home.css" >
	<title>Acceuil</title>
</head>
<body >
	<header>
		<div class="SYNOPSIS"> 
			<div id="SynopsisImage">
			 <a href="/home"> <img src="../assets/icons/iconeNetflix.png" alt="logo-airbnb-1536"> </a>
		</div>
   
	   
			<div class="Start">
			   <a href="/search">
	   <span>Ici,Les</span>
	   <span>Meilleurs</span>
	   <span>Films</span>
	   <img src="../assets/icons/glass_lens_loupe_love_magnifying_search_zoom_icon_146722.png" alt="loupe">
   </a>        
   </div>
			 <a href="/connexion">
			<div id="infosProfil">
			   <div id="imageProfil">
				   <img src="/assets/icons/icon-profile-1.jpg" alt="Profil_Icon" width="50px" height="50px">
				</div>
			 <p>QUITTER</p>
		   </div>
			</a>
		</header>
		
	<!-- ELEMENTS EN-TETE -->
	<div id="HEAD">
		<div class="Icons">
			{{range .Categories}}
		   <a href="/category?id={{.ID}}">
			
			<div class="DecoIcon">
			<img src="{{.Image}}" alt="{{.Name}}" width="70px" height="70px">
				<h2>{{.Name}}</h2>
			</div>
		</a>
			{{end}}
		</div>
 </div>

    <div class="SomeFilms">
		 

	</div>

</div>


</body>
</html>
{{end}}