{{define "inscription"}}
<!DOCTYPE html>
<html>
<head> 
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/styles/connexion.css" >
	<title>Inscrivez-vous</title>
</head>
<body >
	<div class="LoginScreen">
	    <h1>Subscribe here</h1>
	    <form method="POST" action="/treatment">
			<label for="name">Enter your Pseudo:</label>
		<input type="text" name="name" id="name" required oninvalid="this.setCustomValidity('Entrer votre nom pour Jouer')"
		oninput="this.setCustomValidity('')">
            <label for="email">Enter your Email: </label>
            <input type="email" id="email" name="email" required>
            <label for="password">Enter your password:</label>
            <input type="password" id="password" name="password" required>
       
            <div class="connection">
                <input type="submit" value="inscription">
                 <br>
              </div>
        </form>

        <div class="Direction">
			<a href="/connexion"> <button class="button">Déjà des notre? Connectez-vous</a></button>
        </div>
    </div> 
</body>
</html>
{{end}}