{{define "notFound"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/404.css">
    <title>Page non trouvée</title>
</head>
<body>
    
    <header>
		<div class="SYNOPSIS"> 
			<div id="SynopsisImage">
			 <a href="/home"> <img src="../assets/icons/iconeNetflix.png" alt="logo-netflix-1536"> </a>
		</div>
			<div class="Start">
			   <a href="/search">
	   <span>Ici,Les</span>
	   <span>Meilleurs</span>
	   <span>Films</span>
       <img src="../assets/icons/loupe.png" alt="loupe">
   </a>        
   </div>
			 <a href="/connexion">
			<div id="infosProfil">
			   <div id="imageProfil">
				   <img src="/assets/icons/icon-profile-1.jpg" alt="Profil_Icon" width="50px" height="50px">
				</div>
			 <p>QUITTER</p>
		   </div>
			</a>
		</header>

    <div class="container">
        <h1>Aucun résultat pour votre recherche</h1>
        <a href="/home" class="bouton-btn">Accueil</a>
        <div></div>
    </div>
 
</body>
</html>
{{end}}