{{define "search"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/search.css">
    <title>search</title>
</head>
<body>
    
    <div class="AllResults">
      <div class="SEARCH">
         <form action="/search" method="GET">
            <input type="text" name="query" placeholder="Rechercher un film.">
            <input type="submit" value="Rechercher">
         </form>
     </div>
     <div class="RESULTS">
     <ul>
        {{range  .}}
            <li>
                <h3>{{.Titre}}</h3>
                <p>Auteur: {{.Auteur}}</p>
                <p>Synopsis: {{.Synopsis}}</p>
                <p>Date de sortie: {{.RealeseDate}}</p>
                <p>Note: {{.Note}}</p>
                <img src="{{.Image}}" alt="{{.Titre}}" width="150px" height="150px">
            </li>
            {{end}}
        </ul>
     </div>
    </div>
</body>
</html>
{{end}}