{{define "search"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/search.css">
    <title>search</title>
</head>
<body>
    <header>
		<div class="SYNOPSIS"> 
			<div id="SynopsisImage">
			 <a href="/home"> <img src="../assets/icons/iconeNetflix.png" alt="logo-airbnb-1536"> </a>
		</div>
			<div class="Start">
			   <a href="/search">
	   <span>Les</span>
	   <span>Meilleurs</span>
	   <span>Films</span>
	   <img src="../assets/icons/loupe.png" alt="loupe">
   </a>        
   </div>
			 <a href="/connexion">
			<div id="infosProfil">
			   <div id="imageProfil">
				   <img src="/assets/icons/icon-profile-1.jpg" alt="Profil_Icon" width="50px" height="50px">
				</div>
			 <p>QUITTER</p>
		   </div>
			</a>
		</header>

    <div class="AllResults">
        <div class="SEARCH" style="margin-bottom: 10px;">
         <form class="test" action="/search" method="GET">
            <input type="text" name="query" placeholder="Rechercher un film.">
            <input type="submit" value="Rechercher">
         </form>
        </div >

        <div class="SomeFilms">
         {{range  .}}
              <div class="Film">
              <h3 style="color: black;">{{.Titre}}</h3>
              <p style="margin-bottom: 5px;color: black; text-decoration: underline;">Auteur: <p>{{.Auteur}}</p>
              <p style="margin-bottom: 5px;color: black; text-decoration: underline;">Synopsis:</p> <p>{{.Synopsis}}</p>
              <p style="color: black; text-decoration: underline;">Date de sortie:</p>  <p>{{.RealeseDate}}</p>
              <p style="color: black; text-decoration: underline;">Note:</p> <p>{{.Note}}</p>
              <img src="{{.Image}}" alt="{{.Titre}}" width="150px" height="200px" style="margin-bottom:8px">
              
               </div>
            {{end}}
    </div>
</div>
<footer>
   <div id="centre_moi">
     <div class="github">
       <a href="https://github.com/Mirkium/Immersion-2-PROJET-BLOG"><h1 class="neon">Le github du projet</h1></a>
     </div>
     <div class="liste">
       <h2 class="neon">Team Yellow :</h2>
       <li class="Nom"><h3 class="neon">Mathias Neri</h3></li>
       <li class="Nom"><h3 class="neon">Joris Bremond</h3></li>
       <li class="Nom"><h3 class="neon">Sabrina Eloundou</h3></li>
       <li class="Nom"><h3 class="neon">Alexandre Petitfrere</h3></li>
     </div>
   </div>
   <div class="container">
         <div class="wave"></div>
         <div class="wave"></div>
         <div class="wave"></div>
     </div>
 </footer>
</body>
</html>
{{end}}